header {
	background: #000000 url(../images/header.jpg) no-repeat top center;
}
.list-group-item {
	padding: 5px 10px !important;
}
@media only screen and (max-width : 900px) {
	.fixed-view {
		flex-direction: column;
	}
}